/* Color Palette */

$primary-apple-red: #521d18;
$primary-apple-blush: #79413c;
$secondary-apple-pink: #8f4051;
$secondary-oak-brown: #85583c;
$secondary-pale-brown: #b29d8d;

$highlight-apple-green: #eae8b2;
$highlight-jade-blue: #8eb3cf;
$highlight-jade-green: #8eb3cf;
$highlight-glass-blue: #588ac4;

$eggplant-black: rgb(27, 22, 34);

$blog-pink: rgb(206, 126, 199);


/* Fonts */

$header_h1_font: "Meddon", sans-serif;
$nav_h2_font: "Walter Turncoat", sans-serif;