@import url("https://fonts.googleapis.com/css?family=Inria+Sans");
@import url("https://fonts.googleapis.com/css?family=Meddon");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

:root {
  --circle-div-height: 7rem;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

body {
  font-family: "Inria sans", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Meddon";
  font-size: 4rem;
  line-height: 100%;
}

h2 {
  font-family: "Walter Turncoat";
  font-size: 1.5rem;
  display: block;
}

input {
  padding: 0.5rem;
  border-radius: 7px;
  margin-bottom: 1em;
}